.filter-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 16px;
}

.filter {
  position: relative;
  display: flex;
  flex-direction: column;
}
.filter-field__input,
.filter-title {
  cursor: pointer;
  transition: 0.2s ease;
  border: 2px solid $color-text-primary;
  border-radius: $radius-card;
  padding: 16px 24px;
  min-width: 150px;
}

.filter-form__ul {
  position: absolute;
  top: 60px;
  left: 0;
  border-bottom: 1px solid $color-text-primary;
  border-left: 1px solid $color-text-primary;
  border-right: 1px solid $color-text-primary;
  border-radius: 16px;
  width: 100%;

  overflow: hidden;
  box-shadow: 0 6px 14px 0 $color-line-footer;
  background: $color-background-primary;
  opacity: 0;
  z-index: 40;
}

.filter:hover .filter-form__ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.filter-form__action {
  width: 100%;
  padding: 8px 24px;
  text-align: left;
  cursor: pointer;
  transition: 0.15s ease;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: $color-text-footer;
}
.filter-form__action:hover {
  color: $color-text-primary;
}

.filter-field__btn {
  position: absolute;
  right: 24px;
  bottom: 18px;
  width: 18px;
  height: 18px;

  background: url("https://cdn-icons-png.flaticon.com/512/149/149852.png")
    center/contain no-repeat;
  border: none;
  cursor: pointer;
}

.filter-field__wrapper,
.filter-field__input {
  background-color: $color-background-decor;
}
@media (max-width: 1040px) {
  .filter-form {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .filter {
    flex: 1 1 calc(33% - 20px);
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .filter {
    flex: 1 1 calc(50% - 20px);
  }

  .filter-field__input,
  .filter-title {
    width: 100%;
  }
}
