.footer {
  background-color: $color-background-primary;
}

.footer__info {
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 42px;
}

.footer__logo {
  width: 149px;
  height: 107px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__menu-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.01em;
  color: $color-text-primary;
}

.footer__socials {
  margin-top: 30px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__social-item {
  border: 1px solid rgba($color-text-primary, 0.2);
  border-radius: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &:hover {
    scale: 1.05;
    transition: 0.3s;
  }
}
.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: $color-text-primary;
}

.footer__legal {
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: $color-text-primary;
  margin-top: 80px;
  padding-bottom: 16px;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }

  .footer__logo-link {
    flex-grow: 1;
  }

  .footer__something {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .footer__menu {
    margin-right: 78px;
  }

  .footer__socials {
    margin-top: 0;
  }

  .footer__menu-item {
    font-size: 16px;
    line-height: 1.13;
  }

  .footer__social-item {
    border-radius: 12px;
    width: 56px;
    height: 56px;
  }

  .footer__social-icon {
    height: 24px;
    width: 24px;
  }

  .footer__legal {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media (min-width: 1040px) {
  .footer__menu-item {
    font-size: 16px;
    line-height: 1.13;
  }
}
