.header {
  background-color: $color-background-text;
}
.header__container {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;
  gap: 1px;
}

.header__search {
  display: flex;
  align-items: center;
}
.search__btn {
  background-color: $color-background-text;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    margin-right: 8px;
    background-image: url("../images/search.svg");
    width: 18px;
    height: 18px;

    display: inline-block;
  }
}

.logo {
  width: 195px;
  height: 75px;

  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: block;
}
