.main-characters {
  padding: 32px 0;
}
.main-characters__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-characters__title {
  margin-bottom: 47px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  color: $color-text-primary;
}
.main-characters__main {
  background-color: $color-background-text;
  color: $color-background-primary;
  padding: 5px 20px;
  border-radius: 50px;
}
.main-characters__content {
  display: flex;
  gap: 32px;
  align-items: center;
  flex-direction: column;
}
.main-characters__image {
  height: auto;
  background-color: $color-background-decor-second;
  border-radius: 25px;
  padding: 10px 16px;
  max-width: 335px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}
.main-characters__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: center bottom;
}
.main-characters__list {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.main-character {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 14px;
}
.main-character__name {
  color: $color-text-primary;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 16px;
}
.main-character__name:hover {
  color: $color-background-decor-second;
  transition: 250ms;
}
.main-character__description {
  color: $color-text-primary;
  line-height: 1.29;
}

.main-character {
  cursor: pointer;
}
.main-character.active .main-character__name {
  color: $color-background-decor-second;
}

//768
@media (min-width: 768px) {
  .main-characters {
    padding: 48px 0;
  }
  .main-characters__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .main-characters__title {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    color: $color-text-primary;
  }
  .main-characters__main {
    background-color: $color-background-text;
    color: $color-background-primary;
    padding: 5px 20px;
    border-radius: 50px;
  }
  .main-characters__content {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: column;
  }
  .main-characters__image {
    padding: 10px 16px;
    max-width: 705px;
    aspect-ratio: 1 / 1;
  }
  .main-characters__list {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .main-character {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
  }
  .main-character__name {
    color: $color-text-primary;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
  .main-character__description {
    color: $color-text-primary;

    font-size: 16px;
    line-height: 1.12;
  }
}

// 1040
@media (min-width: 1040px) {
  .main-characters {
    padding: 60px 0;
  }
  .main-characters__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .main-characters__title {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    color: $color-text-primary;
  }
  .main-characters__main {
    background-color: $color-background-text;
    color: $color-background-primary;
    padding: 5px 20px;
    border-radius: 50px;
  }
  .main-characters__content {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: row;
  }
  .main-characters__image {
    width: 100%;
    max-width: 505px;
    aspect-ratio: 505 / 645;
    padding: 32px 69px;
  }
  .main-characters__list {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .main-character {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
  }
  .main-character__name {
    color: $color-text-primary;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
  .main-character__description {
    color: $color-text-primary;

    font-size: 16px;
    line-height: 1.12;
  }
}
