// Color
$color-background-text: #0d171d;
$color-text-primary: #111111;
$color-background-primary: #fafafa;
$color-background-secondary: #a1d373;
$color-background-decor: #daf836;

$color-border: rgba(250, 250, 250, 0.3);

$color-footer-penis: rgba(250, 250, 250, 0.4);
$color-border-hero: rgba(250, 250, 250, 0.5);
$color-line-main: rgba(17, 17, 17, 0.2);
$color-text-footer: rgba(17, 17, 17, 0.4);
$color-line-footer: rgba(17, 17, 17, 0.15);
$color-background-decor-second: #a1d737;

// fonts
$font-family: "Montserrat", sans-serif;
$second-family: "Poppins", sans-serif;

//border-radius
$radius-btn: 25px;
$radius-card: 100px;
$radius-card-image: 18px;
$radius-title-main: 44px;
