img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  max-width: 230px;

  &__action {
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid $color-text-primary;
    border-radius: 100px;
    padding: 16px 24px;
  }
}
