img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.filter {
  display: flex;
  justify-content: center;
}
.filter-list {
  display: flex;
  gap: 16px;
  position: relative;
  max-width: 1000px;
}

.filter__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var($color-text-primary);
  margin-bottom: 6px;
}

.filter-text {
  max-width: 180px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 2px solid var($color-text-primary);
  border-radius: 100px;
  padding: 16px 24px;
}
