<section class="all__hero hero-radius">
  <div class="container all__container">
    <div class="all__info" data-aos="fade-right">
      <h2 class="all__info-titel">Characters</h2>
      <p class="all__info-text">
        Our character bios provide detailed information on every member of the
        Smith family and beyond. Get to know these unforgettable characters on a
        whole new level - start exploring now!
      </p>
      <a href="./index.html" class="all__info-button">Back home</a>
    </div>
    <div class="all__photo-container" data-aos="fade-left">
      <img
        class="all__image"
        src="./images/characters__photo.png"
        alt="characters__photo"
      />
    </div>
  </div>
</section>
