<div class="filter-row">
  <!-- NAME -->
  <div class="filter-field">
    <label class="filter__label">Name</label>

    <div class="name-input">
      <input type="text" name="nameFilter" placeholder="Enter name" />
      <span class="name-input__icon">#</span>
    </div>
  </div>

  <div class="select" data-select data-name="season">
    <label class="select__label">Episode code</label>
    <button class="select__trigger" data-select-trigger type="button">
      <span data-select-text>All season</span>
      <span class="select__arrow">#</span>
    </button>

    <input type="hidden" name="seasonFilter" />

    <div class="select__options filter-form__options">
      <div class="select__option filter-form__option selected" data-value="all">
        All season
      </div>
      <div class="select__option filter-form__option" data-value="1">
        1 season
      </div>
      <div class="select__option filter-form__option" data-value="2">
        2 season
      </div>
      <div class="select__option filter-form__option" data-value="3">
        3 season
      </div>
      <div class="select__option filter-form__option" data-value="4">
        4 season
      </div>
      <div class="select__option filter-form__option" data-value="5">
        5 season
      </div>
    </div>
  </div>
</div>
<div id="episodes-root"></div>
