<section class="decorative_buttons">
  <div class="text-container">
    <div class="decorative_buttons-wrapper">
      <span class="decorative_button t1">Animated</span>
      <span class="decorative_button t2 light-green">Sitcom</span>
      <span class="decorative_button t3">the adventures</span>
      <span class="decorative_button t4">Justin Roiland</span>
      <span class="decorative_button t5 green-text">superpower</span>
      <span class="decorative_button t6 light-green">creative</span>
      <span class="decorative_button t7">Amazing!</span>
      <span class="decorative_button t8">Rick and Morty</span>
      <span class="decorative_button t9 light-green">comics</span>
      <span class="decorative_button t10 light-green-text">follows</span>
      <span class="decorative_button t11 light-green">Characters</span>
      <span class="decorative_button t12">Whoa</span>
    </div>
  </div>
</section>
