<section class="decorative-buttons">
  <div class="decorative-buttons__container">
    <span
      class="decorative-buttons__item decorative-buttons__item--t1 decorative-buttons__item--t1"
      >Animated</span
    >
    <span
      class="decorative-buttons__item decorative-buttons__item--t2 decorative-buttons__item--light-green"
      >Sitcom</span
    >
    <span class="decorative-buttons__item decorative-buttons__item--t3"
      >the adventures</span
    >
    <span class="decorative-buttons__item decorative-buttons__item--t4"
      >Justin Roiland</span
    >
    <span
      class="decorative-buttons__item decorative-buttons__item--t5 decorative-buttons__item--green-text"
      >superpower</span
    >
    <span
      class="decorative-buttons__item decorative-buttons__item--t6 decorative-buttons__item--light-green"
      >creative</span
    >
    <span class="decorative-buttons__item decorative-buttons__item--t7"
      >Amazing!</span
    >
    <span class="decorative-buttons__item decorative-buttons__item--t8"
      >Rick and Morty</span
    >
    <span
      class="decorative-buttons__item decorative-buttons__item--t9 decorative-buttons__item--light-green"
      >comics</span
    >
    <span
      class="decorative-buttons__item decorative-buttons__item--t10 decorative-buttons__item--light-green-text"
      >follows</span
    >
    <span
      class="decorative-buttons__item decorative-buttons__item--t11 decorative-buttons__item--light-green"
      >Characters</span
    >
    <span class="decorative-buttons__item decorative-buttons__item--t12"
      >Whoa</span
    >
  </div>
</section>
