<section class="all__hero">
  <div class="container all__container">
    <div class="all__info">
      <h2 class="all__info-titel">Episodes</h2>
      <p class="all__info-text">
        With a comprehensive guide to every episode, you can relive your
        favorite moments and discover new ones. From the bizarre and hilarious
        to the emotional and thought-provoking, our episode guide covers it all.
      </p>
      <a href="./index.html" class="all__info-button">Back home</a>
    </div>
    <div class="all__img-container">
      <img
        class="all__image"
        src="./images/episods_hero.png"
        alt="characters__photo"
      />
    </div>
  </div>
</section>
