<section class="filters">
  <div class="filter-container">
    <form class="filter-form">
      <div class="filter__form--content">
        <label class="filter-field__lable filter">Name </label>
        <div class="filter__form--input">
          <input
            id="search-characters"
            class="filter-field__input"
            type="text"
            placeholder="Enter name"
          />
          <button class="filter-field__btn"></button>
        </div>
      </div>
      <label class="filter-form__lable filter" for=""
        >Status
        <h2 class="filter-title">Alive</h2>
        <ul name="Alive" class="filter-form__ul">
          <li class="filter-form__action" value="alive">Alive</li>
          <li class="filter-form__action" value="dead">Dead</li>
          <li class="filter-form__action" value="unknow">Unknow</li>
        </ul>
      </label>
      <label class="filter-form__lable filter" for=""
        >Species
        <h2 class="filter-title">Human</h2>
        <ul name="Human" class="filter-form__ul">
          <li class="filter-form__action" value="human">Human</li>
          <li class="filter-form__action" data-value="alien">Alien</li>
          <li class="filter-form__action" data-value="mythological-creature">
            Mythological Creature
          </li>
          <li class="filter-form__action" data-value="humanoid">Humanoid</li>
          <li class="filter-form__action" data-value="animal">Animal</li>
          <li class="filter-form__action" data-value="cronenberg">
            Cronenberg
          </li>
          <li class="filter-form__action" data-value="poopybutthole">
            Poopybutthole
          </li>
          <li class="filter-form__action" data-value="robot">Robot</li>
          <li class="filter-form__action" data-value="disease">Disease</li>
        </ul> </label
      ><label class="filter-form__lable filter" for=""
        >Type
        <h2 class="filter-title">Parasite</h2>
        <ul name="Parasite" class="filter-form__ul">
          <li class="filter-form__action" data-value="parasite">Parasite</li>
          <li
            class="filter-form__action"
            data-value="human-with-ants-in-his-eyes"
          >
            Human with ants in his eyes
          </li>
          <li class="filter-form__action" data-value="superhuman">
            Superhuman
          </li>
          <li class="filter-form__action" data-value="genetic-experiment">
            Genetic experiment
          </li>
          <li class="filter-form__action" data-value="fish-person">
            Fish-Person
          </li>
          <li class="filter-form__action" data-value="cromulon">Cromulon</li>
        </ul> </label
      ><label class="filter-form__lable filter" for=""
        >Gender
        <h2 class="filter-title">All</h2>
        <ul name="All" class="filter-form__ul">
          <li class="filter-form__action" data-value="all">All</li>
          <li class="filter-form__action" data-value="female">Female</li>
          <li class="filter-form__action" data-value="unknow">Unknow</li>
          <li class="filter-form__action" data-value="genderless">
            Genderless
          </li>
        </ul>
      </label>
    </form>
    <div data-error></div>
  </div>
</section>
