<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <a href="./index.html" class="footer__logo-link">
        <img
          src="./images/footer-logo2.svg"
          alt="Rick and Morty footer logo"
          class="footer__logo"
        />
      </a>

      <div class="footer__something">
        <div class="footer__menu">
          <ul class="footer__menu-list">
            <li><a class="footer__menu-item" href="#">Characters</a></li>
            <li><a class="footer__menu-item" href="#">Episodes</a></li>
          </ul>
        </div>

        <div class="footer__socials">
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <a href="https://www.facebook.com"
                ><img
                  class="footer__social-icon"
                  src="./images/facebook.svg"
                  alt=""
              /></a>
            </li>
            <li class="footer__social-item">
              <a href="https://x.com"
                ><img
                  class="footer__social-icon"
                  src="./images/twitter.svg"
                  alt=""
              /></a>
            </li>
            <li class="footer__social-item">
              <a href="https://www.instagram.com"
                ><img
                  class="footer__social-icon"
                  src="./images/instagram.svg"
                  alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="footer__legal">Privacy Policy Public Offering Agreement</p>
  </div>
</footer>
