<section class="hero">
  <div class="container hero__container">
    <div class="hero__middle">
      <p class="hero__text-secound">
        If you're a fan of Rick and Morty, you don't want to miss out on our
        app! Start exploring the endless possibilities of Rick and Morty!
      </p>
      <div class="wrap__container">
        <div class="hero__background">
          <div class="hero__blur"></div>
          <img
            src="./images/hero/photos/hero__middle.png"
            class="hero__background-img"
          />
        </div>

        <img
          src="./images/hero/photos/hero__titel-img.png"
          alt="Rick and Morty portal background"
          class="hero__title"
        />
        <p class="hero__text">
          If you're a fan of Rick and Morty, you don't want to miss out on our
          app! Start exploring the endless possibilities of Rick and Morty!
        </p>
      </div>

      <button class="hero__button" aria-label="Scroll down">
        <img
          src="./images/hero/icons/hero__button-icon.svg"
          alt=""
          class="hero__button-icon"
        />
      </button>
    </div>
  </div>
</section>
