<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="characters">
      <div class="characters__container">
        <h2 class="characters__title"><span class="characters__main">Main</span> characters</h2>

        <div class="characters__content">
          <div class="characters__image">
            <img src="./images/rick2.webp" alt="rick" />
          </div>

          <div class="characters__list">
            <article class="character">
              <h3 class="character__name">Rick Sanchez</h3>
              <p class="character__description">
                Rick Sanchez is a brilliant but deeply troubled scientist and
                one of the main characters in the animated TV show Rick and
                Morty.
              </p>
            </article>
            <article class="character">
              <h3 class="character__name">Morty Smith</h3>
              <p class="character__description">
                Morty Smith is the other main character in the animated TV show
                Rick and Morty, and Rick's grandson.
              </p>
            </article>
            <article class="character">
              <h3 class="character__name">Summer Smith</h3>
              <p class="character__description">
                Summer Smith is Morty's older sister and one of the main
                characters in Rick and Morty. Initially portrayed as a typical
                teenager, she develops into a more complex and independent
                character, who is intelligent, resourceful, and fiercely loyal
                to her family.
              </p>
            </article>
            <article class="character">
              <h3 class="character__name">Beth Smith</h3>
              <p class="character__description">
                Beth is a horse surgeon, and, as Rick's daughter, she is
                intelligent if sometimes cold. She is voiced by Sarah Chalke.
              </p>
            </article>
            <article class="character">
              <h3 class="character__name">Jerry Smith</h3>
              <p class="character__description">
                Jerry is the husband of Beth Smith, the father of Summer Smith
                and Morty Smith, and the son-in-law of Rick Sanchez.
              </p>
            </article>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
