* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.filter__action {
  cursor: pointer;
  transition: 0.2s ease;
  border: 2px solid #111111;
  border-radius: 100px;
  padding: 16px 24px;
}

.container {
  max-width: 1225px;
  padding-inline: 20px;
  margin: 0 auto;
  min-width: 320px;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  color: #111111;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid rgba(250, 250, 250, 0.3);
  color: #fafafa;
}

.btn--active {
  background-color: #a1d737;
  color: #0d171d;
}

@media (min-width: 768px) {
  .btn {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
  }
}
.header {
  background-color: #0d171d;
}

.header__container {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 1px;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.header__search::before {
  content: "";
  display: inline-block;
  background-image: url("../images/search-white.svg");
  width: 18px;
  height: 18px;
}

.search__input {
  background-color: inherit;
  color: #fafafa;
  font-weight: 600;
  font-size: 12px;
  max-width: 45px;
}
.search__input::-moz-placeholder {
  color: #fafafa;
}
.search__input::placeholder {
  color: #fafafa;
}

.header__logo {
  display: flex;
  width: 195px;
  height: 75px;
}
.header__logo::before {
  content: "";
  flex-grow: 1;
  display: block;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .search__input {
    max-width: 50px;
    font-size: 14px;
  }
}
.hero {
  min-height: 100vh;
  background-color: #0d171d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 60px 60px;
  overflow: hidden;
  position: relative;
}

.hero__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero__background {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.hero__blur {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #14182c 36.46%, rgba(52, 56, 127, 0) 100%);
  filter: blur(94px);
  border-radius: 100%;
  z-index: 1;
}

.hero__background-img {
  position: relative;
  z-index: 2;
  width: 91%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  margin: 0 auto;
  animation: circleMove 10s linear infinite;
}

@keyframes circleMove {
  0% {
    transform: translate(0, -10px);
  }
  25% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  75% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, -10px);
  }
}
.hero__title {
  width: 90%;
  height: auto;
  margin-top: -40px;
  margin: 0 auto;
}

.hero__text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fafafa;
  max-width: 290px;
  margin-top: 20px;
  margin: auto;
}

.hero__text-secound {
  display: none;
}

/* Scroll button */
.hero__button {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.4431372549);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.hero__button:hover {
  border-color: #fff;
  transform: translateY(3px);
}

.hero__button-icon {
  width: 20px;
  height: 20px;
}

/* ---------- TABLET 768px ---------- */
@media (min-width: 768px) {
  .hero__container {
    max-width: 740px;
  }
  .hero__background-img {
    width: 91%;
    height: auto;
  }
  .hero__middle {
    margin-top: 65px;
  }
  .hero__text {
    font-size: 16px;
    max-width: 420px;
  }
  .hero__button {
    width: 72px;
    height: 72px;
  }
  .hero__button-icon {
    width: 32px;
    height: 32px;
  }
  .hero__title {
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
}
.hero__button-secound {
  display: none;
}

/* ---------- DESKTOP 1200px ---------- */
@media (min-width: 1200px) {
  .hero__button {
    position: relative;
    margin-left: 150px;
    top: 570px;
  }
  .hero__container {
    max-width: 1200px;
  }
  .hero__container {
    margin-bottom: 65px;
  }
  .wrap__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__middle {
    flex-direction: row;
    align-items: flex-start;
    gap: 35px;
    margin-top: 0;
  }
  .hero__text-secound {
    display: block;
    font-size: 16px;
    line-height: 1.12;
    color: #fafafa;
    max-width: 311px;
    text-align: left;
    margin-top: 80px;
  }
  .hero__text {
    display: none;
  }
  .hero__button {
    width: 80px;
    height: 80px;
    right: 40px;
  }
  .hero__button-icon {
    width: 40px;
    height: 40px;
  }
}
.main-characters {
  padding: 32px 0;
}

.main-characters__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-characters__title {
  margin-bottom: 47px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  color: #111111;
}

.main-characters__main {
  background-color: #0d171d;
  color: #fafafa;
  padding: 5px 20px;
  border-radius: 50px;
}

.main-characters__content {
  display: flex;
  gap: 32px;
  align-items: center;
  flex-direction: column;
}

.main-characters__image {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 315px;
  display: block;
  background-color: #a1d373;
  border-radius: 25px;
  padding: 10px 16px;
}

.main-characters__list {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.main-character {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 14px;
}

.main-character__name {
  color: #111111;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 16px;
}

.main-character__name:hover {
  color: #a1d373;
  transition: 250ms;
}

.main-character__description {
  color: #111111;
  line-height: 1.29;
}

@media (min-width: 768px) {
  .main-characters {
    padding: 48px 0;
  }
  .main-characters__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .main-characters__title {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    color: #111111;
  }
  .main-characters__main {
    background-color: #0d171d;
    color: #fafafa;
    padding: 5px 20px;
    border-radius: 50px;
  }
  .main-characters__content {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: column;
  }
  .main-characters__image {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 315px;
    background-color: #a1d373;
    border-radius: 25px;
    padding: 10px 16px;
  }
  .main-characters__list {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .main-character {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
  }
  .main-character__name {
    color: #111111;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
  .main-character__name:hover {
    color: #a1d373;
    transition: 250ms;
  }
  .main-character__description {
    color: #111111;
    font-size: 16px;
    line-height: 1.12;
  }
}
@media (min-width: 1040px) {
  .main-characters {
    padding: 60px 0;
  }
  .main-characters__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .main-characters__title {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    color: #111111;
  }
  .main-characters__main {
    background-color: #0d171d;
    color: #fafafa;
    padding: 5px 20px;
    border-radius: 50px;
  }
  .main-characters__content {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: row;
  }
  .main-characters__image {
    max-width: 504px;
    padding: 32px 69px;
  }
  .main-characters__list {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .main-character {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
  }
  .main-character__name {
    color: #111111;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
  .main-character__name:hover {
    color: #a1d373;
    transition: 250ms;
  }
  .main-character__description {
    color: #111111;
    font-size: 16px;
    line-height: 1.12;
  }
}
.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  inline-size: 100%;
}
.filter-form__select {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.filter-form__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #111111;
  border-radius: 100px;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
}
.filter-form__label--input {
  flex-grow: 1;
}
.filter-form__wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filter-form__wrapper--input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  border: 2px solid #111111;
  border-radius: 100px;
  font-size: 14px;
  cursor: pointer;
  background-color: #daf836;
}
.filter-form__input {
  background-color: inherit;
}
.filter-form__input::-moz-placeholder {
  color: #111111;
}
.filter-form__input::placeholder {
  color: #111111;
}
.filter-form__btn {
  width: 18px;
  height: 18px;
  aspect-ratio: 1;
  background-image: url(../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
}
.filter-form__arrow {
  width: 18px;
  height: 18px;
  aspect-ratio: 1;
  background-image: url(../images/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
}
.filter-form__select.is-open .filter-form__arrow {
  transform: rotate(180deg);
}
.filter-form__select.is-open .filter-form__list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  border: 1px solid #111111;
  border-top: none;
}
.filter-form__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 25px;
}
.filter-form__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding: 14px 24px;
  position: absolute;
  left: 0;
  inline-size: 100%;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 10;
}
.filter-form__option {
  font-size: 12px;
  color: rgba(17, 17, 17, 0.3);
  cursor: pointer;
  transition: color 0.3s ease;
}
.filter-form__option:hover {
  color: #111111;
}
.filter-form__option.selected {
  color: #111111;
}
.filter-form__arrow {
  display: block;
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .filter-form {
    gap: 16px;
    justify-content: start;
  }
  .filter-form__trigger {
    padding: 16px 24px;
    font-size: 16px;
  }
  .filter-form__label--input {
    flex-grow: 0;
  }
  .filter-form__wrapper {
    max-width: 205px;
    inline-size: 100%;
  }
  .filter-form__wrapper--input {
    flex-grow: 1;
    padding: 16px 24px;
    max-width: 270px;
  }
  .filter-form__wrapper--status {
    max-width: 180px;
  }
  .filter-form__wrapper--species {
    max-width: 225px;
  }
  .filter-form__wrapper--type {
    max-width: 175px;
  }
  .filter-form__list {
    gap: 8px;
  }
  .filter-form__list--type {
    overflow-y: scroll;
    max-height: 180px;
    scroll-padding: 5px;
    justify-content: start;
  }
  .filter-form__list--type::-webkit-scrollbar-button {
    display: none;
  }
  .filter-form__list--type::-webkit-scrollbar {
    width: 6px;
  }
  .filter-form__list--type::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 12px 0;
  }
  .filter-form__list--type::-webkit-scrollbar-thumb {
    background-color: #575757;
    border-radius: 12px;
    border: 4px solid transparent;
  }
  .filter-form__option {
    font-size: 14px;
  }
  .filter-form__input {
    font-size: 16px;
  }
}
@media (min-width: 1040px) {
  .filter-form {
    justify-content: center;
  }
  .filter-form__label--input {
    max-width: 230px;
  }
  .filter-form__input {
    max-width: 150px;
  }
}
.characters {
  padding-block: 40px;
}
.characters__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.characters__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.characters__item {
  max-width: 335px;
}
.characters__more {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  border-radius: 25px;
  color: #0d171d;
  background-color: #a1d373;
}

.character {
  display: flex;
  flex-direction: column;
  gap: 14px;
  cursor: pointer;
  border-radius: 18px;
  transition: scale 0.3s ease;
  position: relative;
}
.character:hover {
  scale: 1.05;
}
.character:hover::before {
  animation: glow 2s ease-in-out infinite;
}
.character::before {
  content: "";
  width: 103%;
  height: 102%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 22px;
}
.character__photo {
  border: 2px solid #a1d373;
  aspect-ratio: 1;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
}
.character__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.character__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 13px;
}
.character__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.12;
}
.character__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.character__item--name {
  color: rgba(17, 17, 17, 0.5);
}

@media (min-width: 768px) {
  .characters {
    padding-block: 64px 128px;
  }
  .characters__container {
    gap: 64px;
  }
  .characters__list {
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 64px;
  }
  .characters__item {
    flex-basis: calc((100% - 64px) / 2);
  }
  .characters__more {
    padding: 12px 24px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .characters__list {
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 64px;
  }
  .characters__item {
    flex-basis: calc((100% - 72px) / 4);
    max-width: 280px;
  }
  .character__photo {
    aspect-ratio: 0.88;
  }
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px #daf836;
  }
  50% {
    box-shadow: 0 0 20px #a1d373;
  }
}
.decorative-buttons {
  height: 150px;
  overflow: hidden;
}

.decorative-buttons__container {
  position: relative;
  max-height: 150px;
  align-items: center;
  display: flex;
  animation: scroll 10s linear infinite;
  white-space: nowrap;
}

.decorative-buttons__item {
  position: absolute;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  background: #a1d373;
  border-radius: 25px;
  opacity: 1;
  padding-top: 14px;
  padding-right: 23px;
  padding-bottom: 14px;
  padding-left: 23px;
  gap: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(-370%);
  }
  100% {
    transform: translateX(120%);
  }
}
@media (min-width: 720px) {
  @keyframes scroll {
    0% {
      transform: translateX(-160%);
    }
    100% {
      transform: translateX(120%);
    }
  }
}
@media (min-width: 1040px) {
  @keyframes scroll {
    0% {
      transform: translateX(-110%);
    }
    100% {
      transform: translateX(120%);
    }
  }
}
.decorative-buttons__item--t3,
.decorative-buttons__item--t5,
.decorative-buttons__item--t8,
.decorative-buttons__item--t10 {
  background: #0d171d;
  color: #fafafa;
}

.decorative-buttons__item--light-green {
  background: #daf836;
}

.decorative-buttons__item--light-green-text {
  color: #daf836;
}

.decorative-buttons__item--green-text {
  color: #a1d373;
}

.decorative-buttons__item--t1 {
  left: 100px;
  top: 30px;
}

.decorative-buttons__item--t2 {
  left: 190px;
  top: 20px;
  transform: rotate(31deg);
}

.decorative-buttons__item--t3 {
  left: 50px;
  top: 75px;
}

.decorative-buttons__item--t4 {
  left: 300px;
  top: 75px;
}

.decorative-buttons__item--t5 {
  left: 390px;
  top: 55px;
  transform: rotate(20deg);
}

.decorative-buttons__item--t6 {
  left: 530px;
  top: 55px;
  transform: rotate(142deg);
}

.decorative-buttons__item--t7 {
  left: 580px;
  top: 75px;
  transform: rotate(180deg);
}

.decorative-buttons__item--t8 {
  left: 700px;
  top: 75px;
}

.decorative-buttons__item--t9 {
  left: 790px;
  top: 50px;
  transform: rotate(35deg);
}

.decorative-buttons__item--t10 {
  left: 900px;
  top: 75px;
  transform: rotate(180deg);
}

.decorative-buttons__item--t11 {
  left: 1010px;
  top: 50px;
  transform: rotate(149deg);
}

.decorative-buttons__item--t12 {
  left: 1080px;
  top: 65px;
  transform: rotate(180deg);
}

.slider__container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-width: 1960px;
  padding: 24px 0px 80px;
  background: #0d171d;
  border-radius: 50px;
}

.slider__title {
  max-width: 306px;
  padding: 20px 0 0 50px;
  font-size: 28px;
  margin-bottom: 34px;
  color: #fafafa;
}

.slider__title .highlight {
  background: #a1d373;
  color: #0d171d;
  padding: 1px 6px;
  border-radius: 12px;
}

.episodes__scroll {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 8px;
  margin-bottom: 20px;
  scrollbar-width: none;
}

.episode__card img {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
  border: 3px solid #a1d373;
}

.episodes__btn {
  display: block;
  margin-left: auto;
  margin-right: 20px;
  background: #a1d373;
  color: #0d171d;
  padding: 10px 20px;
  border-radius: 1000px;
  cursor: pointer;
}

.episodes__scroll {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.episode__card {
  flex: 0 0 auto;
  width: 150px;
}

.all__hero {
  background-color: #0d171d;
  color: #fafafa;
  padding-top: 65px;
  padding-bottom: 80px;
}

.all__info-titel {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 15px;
}

.all__info-text {
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 25px;
}

.all__info-button {
  font-size: 12px;
  line-height: 1.33;
  outline: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 50px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.all__info-button:hover {
  background-color: #daf836;
  outline: none;
  color: #0d171d;
}

.all__info {
  margin-bottom: 25px;
}

.all__image {
  width: 335px;
  height: 319px;
}

.all__photo-container {
  border-radius: 25px;
  width: 100%;
  height: 335px;
  background-color: #a1d737;
  display: flex;
  justify-content: center;
  box-shadow: 0 30px 60px rgba(162, 215, 55, 0.3294117647);
  align-items: end;
}

@media (min-width: 768px) {
  .all__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .all__photo-container {
    border-radius: 50px;
    width: 50%;
    height: 346px;
    box-shadow: -20px 3px 60px rgba(162, 215, 55, 0.3294117647);
  }
  .all__info {
    width: 50%;
  }
  .all__info-titel {
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
  }
  .all__info-text {
    font-size: 16px;
    line-height: 112%;
    margin-bottom: 30px;
  }
  .all__info-button {
    padding: 12px 25px;
    font-size: 14px;
    line-height: 129%;
  }
}
@media (min-width: 1200px) {
  .all__photo-container {
    border-radius: 100px;
    width: 504px;
    height: 504px;
  }
  .all__image {
    width: 90%;
    height: auto;
  }
  .all__info-titel {
    font-size: 100px;
  }
}
.all__hero {
  background-color: #0d171d;
  color: #fafafa;
  padding-top: 65px;
  padding-bottom: 80px;
}

.all__info-titel {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 15px;
}

.all__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 25px;
}

.all__info-button {
  font-size: 12px;
  line-height: 1.33;
  outline: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 50px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.all__info-button:hover {
  background-color: #daf836;
  outline: none;
  color: #0d171d;
}

.all__info {
  margin-bottom: 25px;
}

.all__image {
  width: 335px;
  height: 319px;
}

.all__img-container {
  border-radius: 25px;
  width: 100%;
  height: 335px;
  background-color: #a1d737;
  display: flex;
  justify-content: start;
  box-shadow: 0 30px 60px rgba(162, 215, 55, 0.3294117647);
  align-items: end;
  background-size: cover;
  overflow: hidden;
}

@media (min-width: 768px) {
  .all__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .all__img-container {
    border-radius: 50px;
    width: 50%;
    height: 346px;
    box-shadow: -20px 3px 60px rgba(162, 215, 55, 0.3294117647);
  }
  .all__info {
    width: 50%;
  }
  .all__info-titel {
    font-weight: 600;
    font-size: 60px;
  }
  .all__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    margin-bottom: 30px;
  }
  .all__info-button {
    padding: 12px 25px;
    font-size: 14px;
    line-height: 129%;
  }
}
@media (min-width: 1200px) {
  .all__img-container {
    border-radius: 100px;
    width: 504px;
    height: 504px;
  }
  .all__image {
    width: 90%;
    height: auto;
  }
  .all__info-titel {
    font-size: 100px;
  }
}
.search-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.search-error__photo {
  flex-grow: 1;
  inline-size: 100%;
  max-width: 290px;
  aspect-ratio: 1.08;
  background-image: url(../images/searchError.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-error__text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #111111;
}

@media (min-width: 768px) {
  .search-error__photo {
    max-width: 390px;
  }
  .search-error__text {
    font-size: 24px;
  }
}
.footer {
  background-color: #fafafa;
}

.footer__info {
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 42px;
}

.footer__logo {
  width: 149px;
  height: 107px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__menu-item {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.01em;
  color: #111111;
}

.footer__socials {
  margin-top: 30px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__social-item {
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.footer__social-item:hover {
  scale: 1.05;
  transition: 0.3s;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: #111111;
}

.footer__legal {
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: #111111;
  margin-top: 80px;
  padding-bottom: 16px;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }
  .footer__logo-link {
    flex-grow: 1;
  }
  .footer__something {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .footer__menu {
    margin-right: 78px;
  }
  .footer__socials {
    margin-top: 0;
  }
  .footer__menu-item {
    font-size: 16px;
    line-height: 1.13;
  }
  .footer__social-item {
    border-radius: 12px;
    width: 56px;
    height: 56px;
  }
  .footer__social-icon {
    height: 24px;
    width: 24px;
  }
  .footer__legal {
    font-size: 14px;
    line-height: 1.29;
  }
}
@media (min-width: 1040px) {
  .footer__menu-item {
    font-size: 16px;
    line-height: 1.13;
  }
}
.filter-episodes {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  padding: 64px 0;
  overflow: visible;
}

.filter-episodes__label {
  display: flex;
  gap: 8px;
  flex-direction: column;
  line-height: 1.29;
  color: #111111;
  position: relative;
}

.filter-episodes__input::-moz-placeholder {
  color: #111111;
}

.filter-episodes__input::placeholder {
  color: #111111;
}

.filter-episodes__btn {
  width: 18px;
  height: 18px;
  background-image: url(../images/search.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .filter-episodes {
    flex-direction: column;
    align-items: stretch;
  }
  .filter-episodes__input {
    inline-size: 100%;
  }
}